* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header-container {
    width: 100%;
    margin:0 auto;    
}
.nav-container {
    position: relative;
}
.nav-container i {
    font-size:20px;
    margin:20px;
    cursor: pointer;
}

.menu {
    width: 200px;
    height: 150px;
    background-color:antiquewhite;
    position:absolute;
    top:40px;
    left:0px;
    transition:all .4s;
    transform:translateX(-350px);
    opacity:0;
    
}

.asd {
    width: 100px;
    height: 150px;
    background-color:antiquewhite;
    position:absolute;
    top:40px;
    left:0px;
    transition:all .4s;
    transform:translateX(40px) ;
    opacity:1;
    
}

.menu ul li {
    margin:10px 0 ;
    margin-left:10px;
    transition:all .4s;
  
}

.menu ul li a {
    color:black;
    font-weight: bold;
}

.menu ul li:Hover a {
    color:red;
} 

.menu ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}